<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success | WhatsApp Bulk Message Sender</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            color: #333;
        }

        .container {
            width: 900px;
            background: #fff;
            padding: 20px 30px;
            border-radius: 12px;
            /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); */
            text-align: center;
        }

        h1 {
            color: #00796b;
            font-size: 40px;
            /* margin-bottom: 20px; */
        }

        p {
            font-size: 16px;
            margin: 0 0 40px 0;
        }

        .info {
            text-align: left;
            background: #eef8f5;
            border: 1px solid #cff4f0;
            padding: 15px;
            border-radius: 12px;
            /* color: #388e3c; */
        }

        .info p {
            margin-bottom: 10px;
        }

        .btn {
            display: inline-block;
            background: #00796b;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background 0.3s ease;
            margin: 30px 0 30px 0;
        }

        .btn:hover {
            background: #005a4e;
        }

        .footer {
            font-size: 14px;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>✅ Process Started</h1>
        <p>Your message-sending process has been successfully initiated.</p>
        <div class="info">
            <p><strong>Instructions:</strong></p>
            <ul style="text-align: left; padding-left: 20px;">
                <li>Check the progress in the Terminal.
                </li>
                <li>Once the process is complete, detailed logs will be available in the <strong>log</strong> folder.
                </li>
            </ul>
        </div>
        <a href="/" class="btn">Go Back to Home</a>
        <div class="footer">Created by Malay Patoliya</div>
    </div>
</body>

</html>